.seccion-footer {
  background-color: #ffebb5;
  height: 493px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer{
    width: 100%;
}
@media (min-width: 690px) {
  .seccion-footer {
    height: 493px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo__img {
  width: 120px;
  height: 120px;
  display: block;
}

.footer__logo__derechos-reservados {
}

.footer__rrss {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 80px auto auto auto;
}

.footer__rrss__red-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__rrss__link {
  text-decoration: none;
}
.footer__rrss__link:active {
  box-shadow: 0 0 24px #d6814a;
}

.footer__rrss__red-social__logo-linkedin,
.footer__rrss__red-social__logo-github {
  width: 30px;
  height: 30px;
  display: inline;
  margin: auto 0;
}

.footer__rrss__red-social__linkedin,
.footer__rrss__red-social__github {
  color: black;
  display: inline;
  margin: auto 8px;
}
