* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
}

.seccion__header {
  position: sticky;
  top: 0;
  background-color: #063831;
  color: #E9F5DB;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 75px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.header__logo {
display: flex;
flex-direction: row;
align-items: center;
  
}

.header__logo__img {
  height: 50px;
  width: 50px;

}
.header__logo__img:hover {
  box-shadow: 0 0 25px #E9F5DB;
}
.header__burger-menu {
  display: flex;
  align-items: center;
}
@media (min-width: 690px) {
  .header__burger-menu {
    display: none;
  }
}
.header__burger-menu__img {
  height: auto;
  width: 50px;

}
.header__burger-menu__img:hover {
  box-shadow: 0 0 25px #E9F5DB;
}

.header__burger-menu {
  height: 50px;
  width: 50px;
}

.header__menu-ventana {
  background-color: #8ab17d;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cerrar-ventana {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  color: #E9F5DB;
  background-color: #063831;
}
.cerrar-ventana:hover {
  box-shadow: 0 0 25px #E9F5DB;
}

.ventana__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__menu-portfolio,
.header__menu-servicios,
.header__menu-contacto {
  font-size: 32px;
  color: #063831;
  text-decoration: none;
}

.menu-navegacion {
  display: none;
}

@media (min-width: 690px) {
  .menu-navegacion {
    display: flex;
    gap: 10px;
  }
}
.header__portfolio {
  font-size: 24px;
  text-decoration: none;
  color: #E9F5DB;
}
.header__servicios {
  font-size: 24px;
  text-decoration: none;
  color: #E9F5DB;
}
.header__contacto {
  font-size: 24px;
  text-decoration: none;
  color: #E9F5DB;
}
