* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
}

.seccion-welcome {
  background: linear-gradient(
    to bottom,
    #d6814a,
    #db9e6f,
    #e0bb93,
    #e5d8b7,
    #e9f5db,
    #e5d8b7,
    #e0bb93,
    #db9e6f,
    #d6814a
  );
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome__hola {
  font-size: 48px;
  color: #063831;
  margin-top: 0;
}
.welcome__soy-daniela {
  font-size: 32px;
  color: #063831;
}

.seccion-presentacion {
  background-color: #063831;
  color: #e9f5db;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
@media (max-width: 900px) {
  .seccion-presentacion {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

.presentacion__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 900px) {
  .presentacion__texto {
    flex-grow: 1;
    max-width: 890px;
  }
}

.presentacion__texto__soy-daniela {
  font-size: 32px;
}
.presentacion__texto__sobre-mi {
  font-size: 18px;
}
.presentacion__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentacion__img {
  height: 400px;

  width: auto;
}

.seccion-servicios {
  background-color: #e9f5db;
  color: #063831;
  padding-top: 75px;
  padding-bottom: 30px;
}
@media (min-width: 796px) {
  .seccion-servicios {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.servicios__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
}
.servicios__container {
  padding: 40px;
  display: grid;
  gap: 30px;
}
@media (min-width: 796px) {
  .servicios__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1099px) {
  .servicios__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.servicios__container__uno {
  padding: 20px;

  border-radius: 4px;
}
.servicio {
}
.servicios__container__imagen-servicio {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagen-servicio {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.titulo-servicio {
  font-size: 24px;
  text-align: center;
}
.descripcion-servicio {
  font-size: 18px;
  text-align: center;
}
