* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
  background-color: #ffebb5;
}

.seccion-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  height: 75px;
  border: solid 2px saddlebrown;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.header__logo {
}

.header__logo__img {
  height: 50px;
  width: 50px;
  background-color: #d6814a;
}
.header__burger-menu {
}
@media (min-width: 690px) {
  .header__burger-menu {
    display: none;
  }
}
.header__burger-menu__img {
  height: 50px;
  width: 50px;
  background-color: #d6814a;
}
.menu-navegacion {
  display: none;
}
@media (min-width: 690px) {
  .menu-navegacion {
    display: flex;
    gap: 10px;
  }
}
.header__portfolio {
  font-size: 24px;
  text-decoration: none;
  color: saddlebrown;
}
.header__servicios {
  font-size: 24px;
  text-decoration: none;
  color: saddlebrown;
}
.header__contacto {
  font-size: 24px;
  text-decoration: none;
  color: saddlebrown;
}
.seccion-welcome {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome__hola {
  font-size: 48px;
  color: #d6814a;
  margin-top: 0;
}
.welcome__soy-daniela {
  font-size: 32px;
  color: #d6814a;
}

.seccion-presentacion {
  background-color: #063831;
  color: #ffebb5;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
@media (max-width: 900px) {
  .seccion-presentacion {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

.presentacion__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 900px) {
  .presentacion__texto {
    flex-grow: 1;
    max-width: 890px;
  }
}

.presentacion__texto__soy-daniela {
  font-size: 32px;
}
.presentacion__texto__sobre-mi {
  font-size: 18px;
}
.presentacion__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentacion__img {
  height: 499px;

  width: auto;
}

.seccion-servicios {
  color: #7d5532;
  margin-top: 75px;
  margin-bottom: 75px;
}
.servicios__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.servicios__container {
  margin-top: 20px;
  padding: 40px;
  display: grid;
  gap: 30px;
}
@media (min-width: 796px) {
  .servicios__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1099px) {
  .servicios__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.servicios__container__uno {
  padding: 20px;
  box-shadow: 0 0 15px lightcoral;
  border-radius: 4px;
}
.servicio {
}
.servicios__container__imagen-servicio {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagen-servicio {
  width: auto;
  height: 250px;
  margin: 0 auto;
  border: solid 3px #063831;
}
.titulo-servicio {
  font-size: 24px;
}
.descripcion-servicio {
}

.seccion-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 667px;
  background-color: #d6814a;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  color: white;
}

.contacto__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
@media (min-width: 900px) {
  .contacto__title {
    display: inline;
    margin: 0;
  }
}

.contacto__contenedor-form {
  display: flex;
  flex-direction: column;
  margin: auto;

  width: 100%;
}
@media (min-width: 900px) {
  .contacto__contenedor-form {
    flex-direction: row;
    justify-content: center;
    gap: 71px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}
@media (min-width: 900px) {
  .form {
    width: 50%;
  }
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input-nombre,
.input-email {
  width: calc(100% - 8px);
  height: 45px;
  border: none;
  border-radius: 4px;
}

.input-mensaje {
  width: calc(100% - 8px);
  height: 90px;
  border: none;
  border-radius: 4px;
}

.boton {
  height: 50px;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
  background-color: #ffebb5;
  color: #d6814a;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}
.boton:hover {
  background-color: #fdcd95;
}
.boton:active {
  box-shadow: 0 0 24px #ffebb5;
}
