* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;

}


.seccion-portfolio {
  background-color: #8ab17d;
  color: #063831;
  padding-top: 75px;
  padding-bottom: 30px;
}
@media (min-width: 796px) {
  .seccion-portfolio {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.portfolio__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
}
.portfolio__container {
  padding: 40px;
  display: grid;
  gap: 30px;
}
@media (min-width: 796px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1099px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.portfolio__container__uno {
  padding: 20px;

}

.portfolio__container__imagen-portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagen-portfolio {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.portfolio__card-container-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 312px;
}

.portfolio__container__titulo-portfolio {
  font-size: 24px;
  text-align: center;
}
.portfolio__container__descripcion-portfolio {
  font-size: 18px;
  text-align: center;
}
.portfolio__container__link {
  margin-bottom: 0;
  width: 100%;
  max-width: 380px;
}

.portfolio__container__link-button {
  height: 50px;
  font-family: "Poppins", sans-serif;
  background-color: #d6814a;
  color: #ffebb5;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  max-width: 380px;
  margin-bottom: 0;
  text-align: center;
}
.portfolio__container__link-button:hover {
  color: #d6814a;
  background-color: #fdcd95;
}
.portfolio__container__link-button:active {
  box-shadow: 0 0 24px #d6814a;
}
