* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
}

.seccion-servicios {
  background-color: #8ab17d;
  color: #063831;
  padding-top: 75px;
  padding-bottom: 30px;
}
@media (min-width: 796px) {
  .seccion-servicios {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.servicios__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
}
.servicios__container {
  padding: 40px;
  display: grid;
  gap: 30px;
}
@media (min-width: 796px) {
  .servicios__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1099px) {
  .servicios__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.servicios__container__uno {
  padding: 20px;

}
.servicio {
}
.servicios__container__imagen-servicio {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagen-servicio {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.titulo-servicio {
  font-size: 24px;
  text-align: center;
}
.descripcion-servicio {
  font-size: 18px;
  text-align: center;
}
